* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --dark_green: #1a261c;
  --beige: #eaeade;
  --light_green: #c0d8c4;
  --dark_grey: #404040;
  --yellow: #ffffd9;
  --pink: #e2ccd2;
  --lyseroed: #f2d0d9;
  --green: #556758;
  --grøn: #606c62;
}

h1 {
  font-family: "Slabo 13px";
}

h2 {
  font-family: "Slabo 13px";
  font-size: 40px;
  color: var(--dark_green);
  margin-left: 4rem;
}

body {
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: #fff6f9;
}

header {
  position: sticky;
  display: flex;
  background-color: var(--green);
  color: #c0d8c4;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 2px;
  z-index: 10;
  font-family: "Slabo 13px";
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
  margin-left: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  color: var(--light_green);
  padding: 10px 25px;
  text-decoration: none;
  font-size: 24px;
  margin-left: 20px;
}

.menu a:hover {
  color: var(--lyseroed);
}

.logo {
  align-items: flex-start;
  justify-content: left;
  font-size: 50px;
  margin-right: auto;
  text-align: left;
}

.logo h1 {
  margin: 0;
}

footer {
  display: flex;
  background-color: var(--green);
  margin-top: 3rem;
  width: 100%;
  height: 150px;
  font-family: "Slabo 13px";
  color: var(--pink);
  font-size: 30px;
}

footer h1 {
  margin-left: 35rem;
  margin-top: 3rem;
}

.forside {
  position: relative;
  width: 100%;
  height: 100vh; /* Fylder hele skærmen (kan justeres) */
  background-size: cover; /* Sørger for, at billedet dækker hele sektionen */
  display: flex;
  justify-content: center; /* Centrerer vandret */
  align-items: center; /* Centrerer lodret */
}
.forside_hero {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

.forside_tekst {
  position: absolute;
  top: 85%; /* Justerer tekstens position */
  left: 49%;
  transform: translate(-50%, -50%); /* Centrerer teksten */
  text-align: center;
  padding: 20px; /* Justerer tekstens plads */
  border-radius: 10px; /* Afrunder kanter (valgfrit) */
}

.forside_tekst h1 {
  color: var(--green);
  font-size: 7rem; /* Størrelse på hovedteksten */
  margin-top: 0; /* Fjern ekstra margin */
  line-height: 1.2;
  font-family: "Be vietnam pro";
}

.forside_tekst h2 {
  position: absolute;
  color: var(--green);
  font-size: 35px; /* Størrelse på underteksten */
  margin-top: 0; /* Fjern ekstra margin */
  margin-top: 10px; /* Tilføj lidt luft mellem linjerne */
  top: 177%;
  left: 15%;
  font-family: "Be vietnam pro";
}
.portfolio_knap {
  display: inline-block;
  font-family: "Montaga";
  padding: 20px 100px; /* Indvendig afstand */
  font-size: 30px; /* Juster tekststørrelse */
  font-weight: bold; /* Fed skrift */
  color: var(--green); /* Tekstfarve */
  background-color: var(--beige); /* Blå baggrund */
  border: none; /* Fjern kant */
  border-radius: 5px; /* Runde hjørner */
  text-align: center; /* Centrer teksten */
  text-decoration: none; /* Fjern understregning */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lidt skygge */
  transition: all 0.3s ease; /* Glat overgang */
  margin-left: 30rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.portfolio_knap:hover {
  background-color: var(--pink);
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--green);
  margin-top: 2rem;
  background-color: #5e6d61;
}

.box,
.box_3,
.box_4 {
  background-color: #58645a; /* Samme farve som baggrunden */
  border: 8px solid var(--dark_grey); /* Sort kant */
  border-radius: 15px; /* Runde hjørner */
  width: 450px; /* Fast bredde */
  height: 320px;
  text-align: center; /* Centertekst */
  padding: 30px; /* Indre margin */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtil skygge */
  font-family: "Montaga";
  gap: 20px;
  margin-left: 9rem;
}

.box_3,
.box_4 {
  padding-bottom: 4rem;
}

.box,
.box_3,
.box_4,
h3 {
  font-size: 31px;
  margin-bottom: 20px;
  color: var(--yellow);
  margin-top: 30px;
}

/* Knap-styling */

.button_1,
.button_2,
.button_3,
.button_4 {
  background-color: transparent; /* Gennemsigtig baggrund */
  border: 6px solid var(--dark_grey); /* Sort kant */
  border-radius: 10px; /* Runde hjørner */
  font-size: 16px;
  padding: 20px 45px; /* Indre afstand */
  cursor: pointer; /* Hånd ved hover */
  transition: all 0.3s ease; /* Glidende effekt */
  list-style: none;
  font-family: "Montaga";
  font-size: 30px;
  margin-top: 30px;
  color: var(--dark_grey);
}

.button_1 a {
  color: var(--yellow);
}

.button_2 a {
  color: var(--yellow);
}

.button_3 a {
  color: var(--yellow);
}
.button_4 a {
  color: var(--yellow);
}

.box .button_1:hover {
  background-color: #eae8d7; /* Lys farve ved hover */
}

.box .button_1:hover a {
  color: var(--green); /* Mørk tekst */
}

.box .button_2:hover {
  background-color: #eae8d7; /* Lys farve ved hover */
}

.box .button_2:hover a {
  color: #5e6d61; /* Mørk tekst */
}

.box_3 .button_3:hover {
  background-color: #eae8d7; /* Lys farve ved hover */
}

.box_3 .button_3:hover a {
  color: #5e6d61; /* Mørk tekst */
}

.box_4 .button_4:hover {
  background-color: #eae8d7; /* Lys farve ved hover */
}

.box_4 .button_4:hover a {
  color: #5e6d61; /* Mørk tekst */
}

.grid_1-1_tema_1-1 {
  background-color: var(--green);
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%; /* Fast bredde */
  height: 400px;
}
.col_tekst_1 {
  margin-left: 2rem;
  font-family: "Montaga";
  margin-right: 2rem;
  font-size: 18px;
  color: var(--yellow);
  margin-top: 2rem;
  line-height: 25px;
}

.tema_2_img_1 {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

main h1 {
  margin-left: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 50px;
  color: var(--dark_grey);
}

.grid_1-1_tema_1-2 {
  background-color: var(--light_green);
  margin-bottom: 4rem;
  width: 100%; /* Fast bredde */
  height: 400px;
}

.tema_2_img_2 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
}

.col_tekst_2 {
  font-family: "Montaga";
  font-size: 18px;
  color: var(--green);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 25px;
}

.grid_1-1_tema_1-3 {
  background-color: var(--green);
  margin-bottom: 1rem;
  width: 100%; /* Fast bredde */
  height: 400px;
}

.col_tekst_3 {
  color: var(--yellow);
  font-family: "Montaga";
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 18px;
  margin-top: 2rem;
  line-height: 25px;
}

.tema_2_img_3 {
  margin-right: 3rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.website_1,
.website_2,
.website_3,
.website_4,
.website_5 {
  display: inline-block; /* Gør det til en knap */
  padding: 12px 24px; /* Indvendig afstand */
  font-size: 18px; /* Juster tekststørrelse */
  font-weight: bold; /* Fed skrift */
  color: #fff; /* Tekstfarve */
  background-color: var(--lyseroed); /* Blå baggrund */
  border: none; /* Fjern kant */
  border-radius: 5px; /* Runde hjørner */
  text-align: center; /* Centrer teksten */
  text-decoration: none; /* Fjern understregning */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lidt skygge */
  transition: all 0.3s ease; /* Glat overgang */
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.website_1:hover {
  transform: scale(1.05); /* Lidt zoom */
  color: var(--dark_grey);
}
.website_2:hover {
  transform: scale(1.05); /* Lidt zoom */
  color: var(--dark_grey);
}
.website_3:hover {
  transform: scale(1.05); /* Lidt zoom */
  color: var(--dark_grey);
}
.website_4:hover {
  transform: scale(1.05); /* Lidt zoom */
  color: var(--dark_grey);
}

.website_5:hover {
  transform: scale(1.05); /* Lidt zoom */
  color: var(--dark_grey);
}

.grid_1-1_tema_2-1 {
  background-color: var(--light_green);
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%; /* Fast bredde */
  height: 550px;
}

.col_tekst_2-1 {
  color: var(--green);
  font-family: "Montaga";
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 25px;
}

.tema_3_img_1 {
  margin-right: 2rem;
  margin-top: 3rem;
}

.grid_1-1_tema_2-2 {
  background-color: var(--grøn);
  margin-bottom: 4rem;
  width: 100%; /* Fast bredde */
  height: 550px;
}

.tema_3_img_2 {
  margin-left: 2rem;
  margin-top: 3rem;
}

.col_tekst_2-2 {
  font-family: "Montaga";
  font-size: 18px;
  color: var(--yellow);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 25px;
}

.grid_1-1_tema_2-3 {
  background-color: var(--light_green);
  margin-bottom: 1rem;
  width: 100%;
  height: 550px;
}

.col_tekst_2-3 {
  font-family: "Montaga";
  font-size: 18px;
  color: var(--green);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 25px;
}

.tema_3_img_3 {
  margin-right: 2rem;
  margin-top: 3rem;
}

.grid_1-1_tema_4-1 {
  background-color: var(--pink);
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
  height: 450px;
}

.tema_4_img_1 {
  margin-left: 2rem;
  margin-top: 3rem;
}

.col_tekst_4-1 {
  font-family: "Montaga";
  color: var(--dark_grey);
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 25px;
}

.grid_1-1_tema_4-2 {
  background-color: #beb4ab;
  margin-bottom: 4rem;
  width: 100%;
  height: 450px;
}

.col_tekst_4-2 {
  font-family: "Montaga";
  color: var(--dark_grey);
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 25px;
}

.tema_4_img_2 {
  margin-right: 2rem;
  margin-top: 3rem;
}

.grid_1-1_tema_4-3 {
  background-color: var(--pink);
  margin-bottom: 1rem;
  width: 100%;
  height: 450px;
}

.tema_4_img_3 {
  margin-left: 4rem;
  margin-top: 3rem;
}

.col_tekst_4-3 {
  font-family: "Montaga";
  font-size: 18px;
  color: var(--dark_grey);
  margin-top: 3rem;
  margin-left: 3rem;
  line-height: 25px;
}

.tema_4_img_4-4 {
  width: 40%;
  height: 90px;
  margin-top: 2rem;
  margin-left: 5rem;
}

.grid_1-1_tema_5-1 {
  background-color: var(--pink);
  margin-bottom: 4rem;
  margin-top: 2rem;
  width: 100%;
  height: 600px;
}

.tema_5_img_1 {
  margin-left: 3rem;
  margin-top: 2rem;
  width: 90%;
  width: 600px;
}

.col_tekst_5-1 {
  font-family: "Montaga";
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  color: var(--dark_grey);
  line-height: 25px;
}

.grid_1-1_tema_5-2 {
  background-color: #beb4ab;
  margin-bottom: 2rem;
  width: 100%;
  height: 500px;
}

.col_tekst_5-2 {
  font-family: "Montaga";
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 2rem;
  color: var(--beige);
  line-height: 25px;
}

.tema_5_img_2 {
  margin-right: 3rem;
  margin-top: 2rem;
}

.video1 {
  margin-left: 2rem;
  width: 40%;
  height: 300px;
  margin-bottom: 1rem;
}
.website_4 {
  margin-right: 50rem;
  margin-bottom: 4rem;
}

.grid_1-1_tema_5-3 {
  background-color: var(--light_green);
  margin-bottom: 2rem;
  width: 100%;
  height: 550px;
  margin-top: 2rem;
}

.tema_5_img_3 {
  margin-left: 2rem;
  margin-top: 2rem;
}
.col_tekst_5_3 {
  font-family: "Montaga";
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  color: var(--green);
  line-height: 25px;
}

.grid_1-1_tema_5-4 {
  background-color: var(--grøn);
  margin-bottom: 1rem;
  width: 100%;
  height: 560px;
}

.col_tekst_5_4 {
  font-family: "Montaga";
  font-size: 18px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  color: var(--light_green);
  line-height: 25px;
}

.tema_5_img_4 {
  margin-right: 2rem;
  margin-top: 2rem;
}

.img_om_mig {
  width: 80%;
  margin-left: 6rem;
}

.tekst_om_mig {
  background-color: var(--grøn);
}

.tekst_om_mig p {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-family: "Montaga";
  font-size: 18px;
  color: var(--pink);
  line-height: 25px;
}
